.hero-section{
    background-image: url("./images/bgbanner.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.input-field{
    outline: none;
}

.toolText{

    visibility: hidden;
    transition: all 0.1s ease-in;
}

.toolDiv:hover .toolText{
    visibility: visible;
}